@media (min-width: 980px) {
    body {
        padding-top: 60px;
    }
}

.login-required, ul.nav > li > a.login-required {
    display: none;
}

.page-header {
    padding: 20px 0 10px;
    margin: 0 0 20px;
}

.container footer {
    text-align: center;
}

ul#user {
    display: none;
}

#devices {
    table.table.device-files {
        display: none;
        td {
            vertical-align: middle;
            .pull-right .dropdown-menu {
                left: auto;
                right: 0;
            }
        }
    }
}

ul.sidebar-list li {
    text-align: center;
    float: none;
    a {
        overflow: hidden;
        white-space: nowrap;
        text-overflow: ellipsis;
    }
}

.directory .name > a {
    font-weight: bold;
    &:after {
        content: "/";
    }
}

ul.user-thumbnails.thumbnails .thumbnail {
    text-align: center;
}