@()

@main("Devices") {
<script src="@routes.Assets.at("javascripts/models/files.js")"></script>
<script src="@routes.Assets.at("javascripts/models/devices.js")"></script>
<script src="@routes.Assets.at("javascripts/views/device-list.js")"></script>
<script src="@routes.Assets.at("javascripts/controllers/device-controller.js")"></script>
} {
<div class="page-header" data-role="header">
  <h1>Your Devices 
    <small>Browse the contents of your connected devices.</small>
  </h1>
</div>
<div id="devices" class="row">
  <div class="span3">
    <ul class="device-list nav nav-stacked nav-pills"></ul>
  </div>
  <div class="span9">
    <ul class="device-breadcrumb breadcrumb"></ul>
    <table class="device-files table table-striped">
      <thead>
        <tr>
          <th>Name</th>
          <th>Size</th>
          <th>Owner</th>
        </tr>
      </thead>
      <tbody></tbody>
    </table>
  </div>
</div>
}
