@()

@main("Devices") {
<!-- TODO: head -->
} {
<div class="hero-unit" data-role="header">
  <h2>Your Devices</h2>
  <p>Browse the contents of your connected devices.</p>
</div>
<div class="row">
  <div class="span4">
    <ul id="device-list" class="pills">
      <li class="active"><a href="#">Home Desktop</a></li>
      <li><a href="#">Work Desktop</a></li>
      <li><a href="#">Work Laptop</a></li>
      <li><a href="#">ARSTARSTARSTARSTARSTARSTARSTARSTARSTARSTARSTARST</a></li>
    </ul>
  </div>
  <div class="span12">
    <p></p>
  </div>
</div>
}
