@(title: String)(head: Html)(content: Html = Html.empty)
<!DOCTYPE html>

<html>
<head>
<title>@title</title>
<link rel="shortcut icon" type="image/png" href="@routes.Assets.at("images/favicon.png")">

<link rel="stylesheet" href="@routes.Assets.at("stylesheets/bootstrap.min.css")"/>
<link rel="stylesheet" href="@routes.Assets.at("javascripts/lib/jquery/css/pepper-grinder/jquery-ui-1.8.17.custom.css")"./>
<link rel="stylesheet" href="@routes.Assets.at("stylesheets/main.css")"/>

<script src="@routes.Assets.at("javascripts/lib/jquery/js/jquery-1.7.1.min.js")"></script>
<script src="@routes.Assets.at("javascripts/lib/jquery/js/jquery-ui-1.8.17.min.js")"></script>
@head
</head>
<body>
  <div class="topbar">
    <div class="fill">
      <div class="container">
        <a class="brand" href="">Ubiquity</a>
        <ul class="nav">
          <li class="active"><a href="">Home</a></li>
          <li><a href="files">My Files</a></li>
          <li><a href="projects">My Projects</a></li>
        </ul>
        <form action="" class="pull-right">
          <input class="input-small" type="text" placeholder="Username"/>
          <input class="input-small" type="password" placeholder="Password"/>
          <button class="btn" type="submit" title="Log In">&raquo;</button>
        </form>
      </div>
    </div>
  </div>
  <div class="container" data-role="page">
    @content
    <footer>
      <p>&copy; Ubiquity 2012</p>
    </footer>
  </div>
</body>
</html>
