@(title: String)(head: Html)(content: Html = Html.empty)
<!DOCTYPE html>

<html>
<head>
<title>@title</title>
<link rel="shortcut icon" type="image/png" href="@routes.Assets.at("images/favicon.png")">

<link rel="stylesheet" href="@routes.Assets.at("stylesheets/bootstrap.min.css")"/>
<link rel="stylesheet" href="@routes.Assets.at("javascripts/lib/jquery/css/pepper-grinder/jquery-ui-1.8.17.custom.css")"./>
<link rel="stylesheet" href="@routes.Assets.at("stylesheets/main.css")"/>

<script src="@routes.Assets.at("javascripts/lib/jquery/js/jquery-1.7.1.min.js")"></script>
<script src="@routes.Assets.at("javascripts/lib/jquery/js/jquery-ui-1.8.17.custom.min.js")"></script>
<script src="@routes.Assets.at("javascripts/lib/underscore-min.js")"></script>
<script src="@routes.Assets.at("javascripts/lib/backbone-min.js")"></script>

<script src="@routes.Assets.at("javascripts/lib/bootstrap-dropdown.js")"></script>

<script src="@routes.Assets.at("javascripts/user.js")"></script>

@head
</head>
<body>
  <div class="topbar">
    <div class="fill">
      <div class="container">
        <a class="brand" href="/">Ubiquity</a>
        <ul class="nav">
          <li class="active"><a href="/">Home</a></li>
          <li><a href="/devices">My Devices</a></li>
          <li><a href="/projects">My Projects</a></li>
        </ul>
        <form id="login" action="/login" class="pull-right">
          <input class="username input-small" type="text" placeholder="Username"/>
          <input class="password input-small" type="password" placeholder="Password"/>
          <button class="btn" type="submit" title="Log In">&raquo;</button>
        </form>
        <ul id="user" class="nav secondary-nav">
          <li class="dropdown" data-dropdown="dropdown">
            <a class="username dropdown-toggle" href="#"></a>
            <ul class="dropdown-menu">
              <li><a href="/logoff">Log Off</a></li>
              <li><a href="/settings">Settings</a></li>
            </ul>
          </li>
        </ul>
      </div>
    </div>
  </div>
  <div class="container" data-role="page">
    @content
    <footer>
      <p>&copy; Ubiquity 2012</p>
    </footer>
  </div>
</body>
</html>
