@(userData: String)

@main("Projects") {
<script src="@routes.Assets.at("javascripts/models/files.js")"></script>
<script src="@routes.Assets.at("javascripts/models/projects.js")"></script>
<script src="@routes.Assets.at("javascripts/views/project-list.js")"></script>
<script src="@routes.Assets.at("javascripts/controllers/project-controller.js")"></script>
<script>
  window['bootstrap'] = {
    'currentUser': @Html(userData)
  };
</script>
} {
<div class="page-header" data-role="header">
  <h1>Your Projects 
    <small>Manage your projects.</small>
  </h1>
</div>
<div id="projects" class="row">
  <div class="span3">
    <ul class="sidebar-list project-list nav nav-stacked nav-pills"></ul>
  </div>
  <div class="span9">
    <ul class="nav nav-tabs">
      <li class="active"><a href="#files" data-toggle="tab">Files</a></li>
      <li><a href="#users" data-toggle="tab">Collaborators</a></li>
      <li><a href="#stats" data-toggle="tab">Stats</a></li>
    </ul>
    <div class="tab-content">
      <div class="tab-pane fade in active" id="files">
        <table class="project-files table table-striped">
          <thead>
            <tr>
              <th>Name</th>
              <th>Owner</th>
            </tr>
          </thead>
          <tbody></tbody>
        </table>
      </div>
      <div class="tab-pane fade" id="users">
      </div>
      <div class="tab-pane fade" id="stats">
        baz
      </div>
    </div>
  </div>
</div>
}
